.antd-plus-adaptive-tabs {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.antd-plus-adaptive-tabs .ant-tabs-nav {
  flex-shrink: 0;
  margin: 0;
}

.antd-plus-adaptive-tabs .ant-tabs-content-holder {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.antd-plus-adaptive-tabs-content-no-overflow .ant-tabs-content-holder {
  overflow: hidden;
}

.antd-plus-adaptive-tabs .ant-tabs-content {
  height: 100%;
}

.antd-plus-adaptive-tabs .ant-tabs-tabpane {
  height: 100%;
}
