.antd-plus-adaptive-card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.antd-plus-adaptive-card .ant-card-head {
  flex-shrink: 0;
}

.antd-plus-adaptive-card .ant-card-body {
  flex: 1;
  min-height: 0;
  overflow: auto;
}

.antd-plus-adaptive-card .ant-card-actions {
  flex-shrink: 0;
}
