@font-face {
  font-family: "iconfont"; /* Project id 5155951 */
  src: url('iconfont.woff2?t=1775713045898') format('woff2'),
       url('iconfont.woff?t=1775713045898') format('woff'),
       url('iconfont.ttf?t=1775713045898') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-07shuipingfenbu:before {
  content: "\e66e";
}

.icon-08chuizhifenbu:before {
  content: "\e66f";
}

.icon-11dengdaxiao:before {
  content: "\e674";
}

.icon-23shuipingfanzhuan:before {
  content: "\e681";
}

.icon-24chuizhifanzhuan:before {
  content: "\e682";
}

.icon-shiyinghuabu:before {
  content: "\e69f";
}

.icon-huihuabu:before {
  content: "\e946";
}

.icon-hhh:before {
  content: "\e603";
}

.icon-zhuhuabu:before {
  content: "\e705";
}

.icon-huabufenxi:before {
  content: "\e60a";
}

.icon-shiyinghuabu1:before {
  content: "\e61e";
}

.icon-shiyinghuabu2:before {
  content: "\e68d";
}

.icon-xuanzhuanhuabu:before {
  content: "\e64a";
}

.icon-huabu-weixuanzhong:before {
  content: "\e72d";
}

.icon-huabu-moren:before {
  content: "\e616";
}

.icon-huabuchicun:before {
  content: "\e89f";
}

.icon-huabu:before {
  content: "\e6b8";
}

.icon-huabu1:before {
  content: "\e65f";
}

.icon-Filled-huabu:before {
  content: "\e6c5";
}

.icon-duomotaihuabu:before {
  content: "\e7c1";
}

.icon-koutu:before {
  content: "\e648";
}

.icon-koutu1:before {
  content: "\e607";
}

.icon-koutu2:before {
  content: "\e654";
}

.icon-zhinengkoutu:before {
  content: "\e69e";
}

.icon-a-zhinengkoutu1:before {
  content: "\e605";
}

.icon-yijiankoutu:before {
  content: "\e76a";
}

.icon-a-gpt40:before {
  content: "\e6e0";
}

.icon-a-yijiankoutuicon1616:before {
  content: "\e6fa";
}

.icon-AIkoutu:before {
  content: "\e72a";
}

.icon-AIkoutuqubeijing:before {
  content: "\e6e1";
}

.icon-koutuyouhua:before {
  content: "\e634";
}

.icon-a-koutu2:before {
  content: "\e611";
}

.icon-a-imagematting-line:before {
  content: "\e833";
}

.icon-koutu3:before {
  content: "\e72e";
}

.icon-jingxikoutu:before {
  content: "\e7d8";
}

.icon-koutu4:before {
  content: "\e73a";
}

.icon-gongju-kuaisukoutu:before {
  content: "\e753";
}

.icon-align_to_left:before {
  content: "\e927";
}

.icon-align_to_top:before {
  content: "\e928";
}

.icon-align_to_bottom:before {
  content: "\e929";
}

.icon-align_to_right:before {
  content: "\e92a";
}

.icon-align_to_center:before {
  content: "\e92b";
}

.icon-align_to_middle:before {
  content: "\e939";
}

.icon-intersect:before {
  content: "\e969";
}

.icon-invert:before {
  content: "\e96a";
}

.icon-mask:before {
  content: "\e975";
}

.icon-move_page:before {
  content: "\e982";
}

.icon-paint_bucket:before {
  content: "\e987";
}

.icon-opacity:before {
  content: "\e989";
}

.icon-pattern:before {
  content: "\e991";
}

.icon-settings_vs:before {
  content: "\e999";
}

.icon-settings:before {
  content: "\e99a";
}

.icon-share_screen:before {
  content: "\e99b";
}

.icon-sign_in:before {
  content: "\e99c";
}

.icon-tune_vertical:before {
  content: "\e9b1";
}

.icon-tune:before {
  content: "\e9b2";
}

.icon-undo:before {
  content: "\e9b3";
}

.icon-vertical_align_middle:before {
  content: "\e9b9";
}

.icon-vertical_align_top:before {
  content: "\e9ba";
}

.icon-vertical_align_bottom:before {
  content: "\e9bb";
}

.icon-photo_landscape_outlined:before {
  content: "\e98f";
}

.icon-photo_gallery_outlined:before {
  content: "\e990";
}

.icon-redo:before {
  content: "\e993";
}

.icon-replay:before {
  content: "\e994";
}

.icon-save:before {
  content: "\e996";
}

.icon-send_backward:before {
  content: "\e997";
}

.icon-send_to_back:before {
  content: "\e998";
}

.icon-subdirectory_right:before {
  content: "\e9a3";
}

.icon-subdirectory_left:before {
  content: "\e9a4";
}

.icon-swap_horizontal:before {
  content: "\e9a5";
}

.icon-sync:before {
  content: "\e9a6";
}

.icon-toggle_off:before {
  content: "\e9ad";
}

.icon-toggle_on:before {
  content: "\e9ae";
}

.icon-baocuntupian1:before {
  content: "\e626";
}

.icon-text1:before {
  content: "\e6b0";
}

.icon-baocuntupian2:before {
  content: "\e6e6";
}

.icon-shapes-sharp:before {
  content: "\ea22";
}

.icon-charutupian:before {
  content: "\e619";
}

.icon-charutupian1:before {
  content: "\e601";
}

.icon-save1:before {
  content: "\eb8a";
}

.icon-GPT4:before {
  content: "\e645";
}

.icon-GPTs:before {
  content: "\e646";
}

.icon-textbox:before {
  content: "\e617";
}

.icon-charuxingzhuang:before {
  content: "\e602";
}

.icon-check1:before {
  content: "\e827";
}

.icon-gongxianghangbanxiao:before {
  content: "\e8cb";
}

.icon-data:before {
  content: "\efa8";
}

.icon-up2:before {
  content: "\e699";
}

.icon-down2:before {
  content: "\e69c";
}

.icon-trending:before {
  content: "\e63f";
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-text:before {
  content: "\e6d3";
}

.icon-androidaddcircle:before {
  content: "\e615";
}

.icon-androidimage:before {
  content: "\e65b";
}

.icon-androidmorehorizontal:before {
  content: "\e666";
}

.icon-androidmorevertical:before {
  content: "\e667";
}

.icon-image:before {
  content: "\e70e";
}

.icon-images:before {
  content: "\e70f";
}

.icon-paintbrush:before {
  content: "\e855";
}

.icon-paintbucket:before {
  content: "\e856";
}

.icon-baocuntupian:before {
  content: "\e625";
}

.icon-text-:before {
  content: "\e71d";
}

.icon-_rotate:before {
  content: "\e924";
}

.icon-airplay:before {
  content: "\e925";
}

.icon-arrow_long_left:before {
  content: "\e92c";
}

.icon-arrow_downward:before {
  content: "\e92d";
}

.icon-arrow_long_up:before {
  content: "\e92e";
}

.icon-artboard_outlined:before {
  content: "\e92f";
}

.icon-back_ui:before {
  content: "\e930";
}

.icon-block:before {
  content: "\e932";
}

.icon-bring_forward:before {
  content: "\e935";
}

.icon-bring_to_front:before {
  content: "\e936";
}

.icon-color_off:before {
  content: "\e942";
}

.icon-color_picker_point:before {
  content: "\e943";
}

.icon-color_picker:before {
  content: "\e944";
}

.icon-comment_image:before {
  content: "\e945";
}

.icon-download_from_cloud:before {
  content: "\e94b";
}

.icon-download_to:before {
  content: "\e94c";
}

.icon-comment_image_outlined:before {
  content: "\e948";
}

.icon-drag:before {
  content: "\e94f";
}

.icon-folder_photo:before {
  content: "\e95a";
}

.icon-image1:before {
  content: "\e967";
}

.icon-inboxes:before {
  content: "\e976";
}

.icon-media_photo:before {
  content: "\e97f";
}

.icon-mms:before {
  content: "\e980";
}

.icon-mms_outlined:before {
  content: "\e981";
}

.icon-panorama_image:before {
  content: "\e988";
}

.icon-new_release:before {
  content: "\e986";
}

.icon-photo_filter:before {
  content: "\e98b";
}

.icon-photo_square_outlined:before {
  content: "\e98c";
}

.icon-photo_landscape:before {
  content: "\e98d";
}

.icon-photo_square:before {
  content: "\e98e";
}

.icon-photo_gallery:before {
  content: "\e98a";
}

